<launch>

  <!-- Choose the type: true - model_O and reflex, false - model T42 -->
  <arg name="is_model_O_reflex" default="false"/> 

  <group if="$(arg is_model_O_reflex)">
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find hand_simulator)/config/hand_effort_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/hand" args="rail_to_base_controller base_to_finger_1_1_position_controller finger_1_1_to_finger_1_2_position_controller finger_1_2_to_finger_1_3_position_controller base_to_finger_2_1_position_controller finger_2_1_to_finger_2_2_position_controller finger_2_2_to_finger_2_3_position_controller base_to_finger_3_2_position_controller finger_3_2_to_finger_3_3_position_controller"/>
  </group>

  <group unless="$(arg is_model_O_reflex)">
    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find hand_simulator)/config/hand_effort_control_t42.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/hand" args="rail_to_base_controller base_to_finger_1_1_position_controller finger_1_1_to_finger_1_2_position_controller base_to_finger_2_1_position_controller finger_2_1_to_finger_2_2_position_controller "/>
  </group>

  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller" ns="/hand" />

  <!-- <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
    <remap from="/joint_states" to="/hand/joint_states" />
  </node> -->

  <node pkg="hand_simulator" type="hand_node.py" name="hand_node" output="screen">
    <rosparam command="load" file="$(find hand_simulator)/param/gripper.yaml" />  
  </node>

</launch>
